@import "~react-component-library/styles/variables";

$toastr-width: 450px !default;
$successBgColor: $success !default;
$infoBgColor: $silver !default;
$warningBgColor: $silver !default;
$errorBgColor: $danger !default;
$defaultSpace: $margin-small;
