$toastr-width: 350px !default;
$success-bg-color: #60bb71 !default;
$info-bg-color: #58abc3 !default;
$warning-bg-color: #f7a336 !default;
$error-bg-color: #db6a64 !default;
$dark-bg: rgba(50,58,68, .8); 